<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd">

	<description>spring-morphia-mongodb</description>

	<!-- 加载配置属性文件 -->
	<context:property-placeholder
		ignore-unresolvable="true" location="classpath:mongodb.properties" />

	<!-- 加载应用属性实例，可通过 @Value("#{APP_MONGO_PROP['mongo.db.host']}") String jdbcDriver 
		方式引用 -->
	<util:properties id="APP_MONGO_PROP" location="classpath:mongodb.properties" local-override="true" />

	<!-- 使用工厂创建morphia实例，同时完成类映射操作 -->
	<bean id="morphia" class="com.stephen.study.core.mongodb.MorphiaFactoryBean">
		<!-- 指定要扫描的POJO包路径 -->
		<property name="mapPackages">
			<array>
				<value>com.stephen.study.modules.mongodb.entity</value>
			</array>
		</property>
		
		<!--   指定要映射的类
		<property name="mapClasses">
		<array></array>
		</property>
		-->
		
		<!-- 扫描包时是否忽略不可用的类，默认为false -->
   <property name="ignoreInvalidClasses" value="false"/>
   
	</bean>
	<!-- 使用工厂创建mongo实例 -->
	<bean id="mongoClient" class="com.stephen.study.core.mongodb.MongoFactoryBean">
		<!-- 是否主从分离(读取从库)，默认为false，读写都在主库 -->
		<property name="readSecondary" value="false" />
		<!-- 设定服务器列表，默认为localhost:27017 -->
		<property name="serverStrings">
			<array>
				<value>${mongo.db.host}</value>
			</array>
		</property>
	</bean>
	<!-- 使用工厂创建datastore，同时完成index和caps的确认操作 -->
	<bean id="datastore" class="com.stephen.study.core.mongodb.DatastoreFactoryBean">
		<property name="morphia" ref="morphia" />
		<property name="mongoClient" ref="mongoClient" />
		<property name="dbName" value="${mongo.db.databaseName}" />
		<!-- 用户名和密码可以为空 -->
		<!-- 
		<property name="username" value="my_username"/>
		<property name="password" value="my_password"/> 
		-->
		<!-- 是否进行index和caps的确认操作，默认为flase -->
		<property name="toEnsureIndexes" value="true" />
		<property name="toEnsureCaps" value="true" />
	</bean>

</beans>